# Click speed in miliseconds
click_speed = 100

# Screen offset.
# Not necesary if using main display in Windows
# If you have multiple displays and your main one isn't the leftmost one, this field should have the
# pixel resolution of all your monitors to the left of the main one where the game is suposed to be running.
x_screen_offset = 0